  .übersicht{
	  width: 320px;
  height: 275px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
   transition-duration: 0.5s;
	  
	  
  }
  
  
  
  .level {
  

  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
   transition-duration: 0.5s;
  }
  

button:hover {
 
 box-shadow: 2px 2px 6px rgba(0, 0, 30, 10);
  background-color: #dc143c
}



	  h1 {
	  font-size: 75px;
	  }
	  
	  


.banner { 
width: calc(25% - 15px);
float: right; 
margin-left: 15px; /* Abstand zum Textinhalt links */
        background-color: #f2f2f2; /* Hintergrundfarbe des Banners */
        padding: 20px; /* Abstand zwischen Bannerinhalt und Rand */

}

.hauptttext {
width: calc(75% - 15px);
float: left; 
margin-left: 15px; /* Abstand zum Textinhalt links */
        background-color: #00FFFF; /* Hintergrundfarbe des Banners */
        padding: 20px; /* Abstand zwischen Bannerinhalt und Rand */
		
}


.outro {
	
	text-align: center;
	
	background-color: #f2f2f2; /* Hintergrundfarbe des Banners */
	
}



/* Ab hier Code für Landeseite */

  
  .auswahltaste1 {
  

  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 50%;
  color: #FF0000;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
  transition-duration: 0.5s;
  margin-top: 5%;
  margin-bottom: 5%;
  }
  
  
  
    .auswahltaste2 {
  

  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 50%;
  font-weight: bold;
  font-style: italic;
  color: #7CFC00;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
   transition-duration: 0.5s;
   margin-left: 5%;
   margin-top: 5%;
   margin-bottom: 10%;
  }
  
  .titel
  {
	   margin-left: 10%;
	   margin-right: 10%;
	   font-size: 50px;
	  
	  
	  
	  
  }
  
  
  .knöpfe  {
	  
	  
	  background-color: #e6e6fa;
	  text-align: center;
  }
  
 h3{
	 font-weight:900
 }
 /* Ab hier Code für Landeseite */

  
  .auswahltaste1 {
  

  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 50%;
  color: #FF0000;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
  transition-duration: 0.5s;
  margin-top: 5%;
  margin-bottom: 5%;
  }
  
  
  
    .auswahltaste2 {
  

  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #E0FFFF;
  font-size: 50%;
  font-weight: bold;
  font-style: italic;
  color: #7CFC00;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 10, 5);
   transition-duration: 0.5s;
   margin-left: 5%;
   margin-top: 5%;
   margin-bottom: 10%;
  }
  
  .titel
  {
	   margin-left: 10%;
	   margin-right: 10%;
	   font-size: 50px;
	  
	  
	  
	  
  }
  
  
  .knöpfe  {
	  
	  
	  background-color: #e6e6fa;
	  text-align: center;
  }
  
 h3 {
	 font-weight:900
 }
 
 
 /* Theorieseite */
 .box {
	background: #d1d1e0;
	border-style: hidden;
	text-align: center;
	border-radius: 8px;
	padding: 10px;
 }
 
 
 .titelbox{
	 background: #a3a3c2;
	border-style: hidden;
	text-align: center;
	border-radius: 8px;
	padding: 10px;
 }
 body{
	   background-image: url("hexagon design.png");
  background-color: #cccccc;
	 
	 
 }
 
 .table
 {
	 background-color: white;
	 
	 
 }